@import "bootstrap/bootstrap.min.css";

@import "datatables/jquery.dataTables.css";







html,body{height: 100%; min-height: 100%;}

body{font-family: arial, tahoma, sans-serif; font-size: 11px; position: relative; background: #F9F9F9; color: #333;}

/*~Smartphones (portrait and landscape)~*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {    
    
}

/*~Smartphones (landscape)~*/
@media only screen and (min-width : 321px) {
    
}

/*~Smartphones (portrait)~*/
@media only screen and (max-width : 320px) {
    
}

@media only screen and (max-width: 767px){
    body{padding-right: 0px; padding-left: 0px;}
    
}

@media only screen and (max-width: 768px){
    #sidebar{position: absolute; z-index: 9; border-right: 1px solid #DAE1E8;
             -moz-box-shadow: 2px 2px 3px rgba(80,118,158,0.12); -webkit-box-shadow: 2px 2px 3px rgba(80,118,158,0.12); box-shadow: 2px 2px 3px rgba(80,118,158,0.12);}
        #sidebar .user{background: #F5F5F5;}
        #sidebar .navigation{width: 220px;}
    #content{margin-left: 0px; padding: 0px; background-image: none;}
    .row-fluid .controls-row [class*="span"]+[class*="span"]{margin-left: 0px;}
    
}

@media only screen and (max-width: 1023px) {    
      
}

/*~iPads (portrait and landscape)~*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 1279px) {
    
}
